@import 'rainbow.css';
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand-1) 30%,
    var(--vp-c-brand-next)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand-1) 30%,
    var(--vp-c-brand-next)
  );
  --vp-home-hero-image-filter: blur(80px);
}

.custom-link {
  display: block;
  margin-bottom: 20px; /* 标题和嵌入框之间的间距 */
  font-weight: bold; /* 加粗标题 */
}
.iframe {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px; /* 圆角半径 */
}
a {
  color: blue; /* 链接颜色 */
  text-decoration: underline; /* 下划线 */
  text-decoration-color: red; /* 下划线颜色 */
}
a:hover {
  color: blue; /* 鼠标悬停时的颜色 */
  text-decoration-color: blue; /* 鼠标悬停时的下划线颜色 */
}

/* 左侧边栏样式 */
.sidebar {
  align-items: center; /* 子元素水平居中 */
  border-radius: 10px; /* 边框圆角 */
  box-sizing: border-box; /* 边框和内边距计算在宽度内 */
  background: linear-gradient(
    280deg,
    #f5f5f5 10%,
    #e0e0e0 80%
  ); /* 背景：从280度的方向开始线性渐变，渐变的颜色从浅灰色 #f5f5f5 开始，在渐变的10%位置。渐变的颜色过渡到稍深的灰色 #e0e0e0，在渐变的 100% 位置。 */
  color: white; /* 设置侧边栏文本背景颜色：白色 */
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  padding: 10px; /* 侧边栏内边距 */
  width: 200px; /* 侧边栏的宽度 */
  position: fixed; /* 固定位置 */
  top: 0; /* 顶部对齐 */
  left: 0; /* 左侧对齐 */
  height: 100vh; /* 高度占满整个视口 */
  z-index: 1000; /* 确保侧边栏在最上层 */
}
/* 鼠标悬停时的样式 */
.sidebar a:hover {
  color: white; /* 文本颜色：白色 */
  background-color: #324abb; /* 背景颜色：蓝色 */
}
/* 左侧边栏展开时的样式 */
.sidebar.active {
  width: 200px; /* 展开后的宽度 */
}
/* 左侧边栏中内容样式 */
.sidebar a {
  align-items: center;
  background-color: white; /* 背景颜色：白色 */
  border-radius: 10px;
  color: black; /* 文本颜色：黑色 */
  display: block; /* 显示方式：块级盒子 */
  font-weight: bold; /* 文本：粗体 */
  margin-bottom: 12px; /* 块级盒子的间隔 */
  padding: 10px 20px; /* 块级盒子内边距 */
  text-decoration: none; /* 下划线：无 */
  text-align: left; /* 文本对齐方式：左对齐 */
  transition:
    background-color 0.3s,
    color 0.3s; /* 添加过渡效果 */
  width: 100%;
}
/* 按键 */
.menu-toggle {
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景色 */
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: none; /* 默认不显示 */
  font-weight: bold;
  padding: 10px;
  text-align: center;
  z-index: 1001;
}
/* 仅显示图标的按钮样式 */
.menu-icon {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

.menu-icon svg {
  fill: currentColor; /* 使图标颜色与文本颜色保持一致 */
}
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: fixed;
    top: 30px;
    left: 10px;
  }
}

.bg-image-container {
  width: 220px;
  height: 220px;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  opacity: 0.5;
  transition: opacity 1s ease;
  z-index: -1;
}
.bg-image-container.bg-image-container-one {
  left: unset;
  right: 10px;
  top: 100px;
}
.bg-image-container.bg-image-container-two {
  left: -100px;
  top: unset;
  bottom: -100px;
  opacity: 0.1;
}
.bg-image-container.bg-image-container-three {
  right: 100px;
  top: unset;
  bottom: 100px;
}
.clip {
  background: var(--vp-home-hero-name-background);
  background-clip: text;
}
